body {line-height: 1.8}
a {text-decoration: none !important;}

.fs40 {font-size: 40px}

.primary-menu-menu > li {float: right;}
.primary-menu > ul {padding-right: 0;}

.primary-menu-menu > li.menu-item-has-mega-menu .megamenu ul > li a .puzzle-icon {margin: 0 0 0 15px}
.primary-menu-menu ul.sub-menu > li:before {right:0; left:auto}

.language-switcher + .select2-container .select2-selection--single .select2-selection__rendered {padding: 0 20px 0 0;}

.universal-btn-wrapper > * {margin-left: 20px; margin-right: 0;}
.universal-btn-wrapper > *:last-child {margin-left: 0;}

.link--icon-right .puzzle-icon {margin-right: 10px; margin-left: auto}


.widget_links ul {padding-right: 0; padding-left: auto}
.widget_links ul li a {padding: 0 20px 0 0}
.widget_links ul li a:before {right: 0; left: auto}
.contact-item .puzzle-icon {margin: 0 0 0 20px}
.footer-main-menu{padding-right: 0}
