
// Body
$body-bg: #dddce1;

// Typography
$font-family-sans-serif: Vazir, Arial, Tahoma;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #5dade2;
$indigo: #8E44AD;
$purple: #9B59B6;
$pink: #f66D9b;
$red: #E74C3C;
$orange: #E67E22;
$yellow: #F1C40F;
$green: #2ECC71;
$teal: #4dc0b5;
$cyan: #1ABC9C;
$grey: #ECF0F1;
$grey-dark:#95A5A6;
$primary: #3498DB;
$secondary: #95A5A6;
$success: #2ECC71;
$info: #3498DB;
$warning: #F1C40F;
$danger: #E74C3C;
$light: #f8f9fa;
$dark: #34495E;
